# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
myenv/
venv/
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node (you have server.js/package.json)
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/

# Flutter (frontend)
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Misc
*.swp